button {
  background-color: rgb(236, 126, 106);
}

.modal {
  padding: 1.8rem 2.16rem 0.9rem;
  width: 550px;
  max-width: 1300px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 10px rgba(219, 27, 27, 0.5);
}
