/* body {
  background-image: url(../src/images/Rectangle\ 1.jpg);
} */
.js-search-form {
  text-align: center;
}
.js-input {
  width: 336px;
  height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #ffffff;
  background-color: transparent;
}

.js-search-btn {
  background-color: transparent;

  border: none;
}
.fas {
  color: #ffffff;
  font-size: 12px;
}
