.js-search-form {
  // background-color: #808080;
  position: relative;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 336px;
  @media screen and (max-width: 767px) {
    width: 280px;
  }
}
.js-input {
  @media screen and (max-width: 767px) {
    width: 280px;
  }
  width: 336px;
  height: 20px;

  border: 0.5px solid #ffffff;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  &::placeholder {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.js-search-btn {
  position: absolute;
  right: 2px;
  background-color: transparent;
  border: none;
}
.fas {
  color: #ffffff;
  font-size: 12px;
}
